// couleur qu'on utilise partout sur le site -> création de variable
$yellow: rgb(240, 225, 12);
$headerHeight : 100px;

.f-bottom{
    position: fixed;
    width: 100%;
    background-color: white;
    height: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // ul appartien au footer, le li appartient au ul qui appartient au footer
    >ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        >li{
            margin: 10px;
            >a{
                font-size: 30px;
                color: $yellow;
            }
        }
    }
    p{
        margin: 0;
    }
}
