body{
    margin: 0;
}
header{
    background-image: url('../images/Sushis/banner.png');
    height: 300px;
    background-size: cover;
    background-position: center center;
}

main>.row .card>.card-img-top{
    height: 200px;
}
main>.row .card{
    cursor: pointer
}
main>.row .card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 0.3s ease;
}
footer{
    background-color: darkgray;

}