body{
    /* Placer le header au-dessus de la fenêtre */
    margin: 0;
}

header{
    height : 300px;
    /* Header toujours au-dessus de la page */
    position: fixed; /* N'a plus de position sur la page -> autre élément rentre dedans */
    /* Quand on définit une position fixe, comme il n'a plus de réf pour sa largeur, il faut lui mettre une largeur */
    width: 100%;
    /* Largeur est la bordure comprise */
    box-sizing: border-box;
    /* Repositionnement */
    top: 0;
    /* Signaler une image d'arrière plan pour un élément */
    /* Images gardent leurs tailles initiales */
    background-image: url(../images/Banner.jpg);
    /* Garde les proportions de l'image mais tente de couvrir tout l'arrière-plan */
    background-size: cover;
    background-position: center;
}

#mainContent{
    /* Mettre une marge dans le div pour ne pas que le header ren */
    margin-top : 300px;
    display: flex;
}
nav{
    min-height: 100px;
    width: 300px;
    
}
/* Retirer la puce */
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background: darkblue;
}
/* Retirer le soulignement du lien */
nav ul li a{
    text-decoration: none;
    font-weight: 900;
    color: white;

}
main{
    min-height: 100px;
    width: 100%;
}

footer{
    min-height: 100px;
}
footer .f-top{
    color: white;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}
footer .f-bottom{
    color: white;
    background-color: black;
    text-align : center;
    padding: 5px 0;
}