p.fixed{
    /* élément toujours positionné à un endroit précis de l'écran -> même si d'autres éléments y sont placés, l'élément fixed continue d'apparaître */
    position:fixed;
    top: 500px;
    right: 30px;
    width: 100px;
}

.parent{
    position: relative;
    width:300px;
    height: 300px;
    border: 1px solid blue;
    /* Mettre à côté d'un autre bloc */
    /* display: inline-block; */
}
.autre{
    position: relative;
    width:300px;
    height: 300px;
    border: 1px solid green;
    /* display: inline-block; */
}
.papy{
    display: flex;
    /* positionnement en côte à côte */
    flex-direction: row-reverse; /* autres : column, row, row-reverse pour le coller à droite et inverser l'ordre des éléments */
    justify-content: flex-end; /* space-between -> met un espace entre les éléments, space-around -> distance égale */    
}

/* De manière absolue par rapport au conteneur -> doit être un enfant */
.enfant{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid crimson;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background-color: crimson;
    /* Décide de l'ordre des éléments -> plus le nombre est petit plus il est situé en arrière-plan */
    z-index: -1;
}
