.maison{
    width: 400px;
}
img{
    width: 40px;
}
.mono{
    width: 700px;
}
h3, p, tr{
    font-family: 'Maiandra GD';
}
h1{
    font-family: 'Maiandra GD';
    text-decoration: underline;
}
strong{
    color: royalblue;
}
