*{
    border: 1px solid black;
}
body{
    border: 1px solid red;
    width: 100vw;
    margin: 0;
}
div{
    width: 75%;
    border: 3px solid green;
    box-sizing: border-box;
    padding: 50px; /* Marges intérieures : haut, droite, bas, gauche */
    /* margin: 60px 100px 10px 200px; Marges extérieures : modif haut, droite, bas, gauche */
    /* Cibler individuellement les marge : margin-top: ; margin-bottom: ; margin-right: ; margin-left: ; */
    overflow: hidden;
    /* Taille minimale à l'élément mais qui peut être dépassée */
    /* Ne pas dépasser une certaine taille max-height: ; */
    min-height: 100px;
    /* Se centre par rapport à son conteneur */
    margin: auto;
}
p{
    width: 50%;
}
a{
    border: 1px solid blue;
    /* les éléments inline ne peuvent pas être agrandis SEULE EXCEPTION est l'image */
    width: 10px;
}
img{
    border: 1px solid blue;
    width: 30px;
}