/* Un commentaire css */

/* 
selecteur{
    propriété: valeur;
}
*/

/* Pour TOUS les paragraphes */
p{
    color: violet;
    font-size: 24px;
}
/* Plus précis des sélecteurs */
#monID{
    color: purple;
}
/* Précision au travers d'une classe */
.blue {
    color: slateblue;
}
/* cibler juste paragraphe avec la classe blue */
p.blue{
    color: royalblue;
    font-size: 36px;
}
/* Sélection de tous les paragraphes et tous les titres h2 */
p, h2{
    color: rebeccapurple;
    font-size: 24px;
}

/* Sélecteur d'éléments à l'intérieur d'autres éléments */
.maTable td {
    color: skyblue;
}
/* Enfants directs de la liste et non les sous enfants */
.list>li{
    /* La couleur est héritée par les éléments enfants */
    color: crimson;
    border: 1px solid black;
}
/* Toutes les balises p après maClass2 */
.maClass2~p{
    color: tomato;
}

/* Cibler les lignes paires dans ol */
ol>li:nth-child(2n){
    color: navy;
}
/* Cibles les lignes impaires */
ol>li:nth-child(2n+1){
    color: olivedrab;
}
ol>li:nth-child(3n+1){
    color: black;
}
