.f-bottom {
  position: fixed;
  width: 100%;
  background-color: white;
  height: 100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-bottom > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}
.f-bottom > ul > li {
  margin: 10px;
}
.f-bottom > ul > li > a {
  font-size: 30px;
  color: #f0e10c;
}
.f-bottom p {
  margin: 0;
}

/*# sourceMappingURL=style2.css.map */
