@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body{
    font-size: 14px;
}
div:first-child{
    font-size: 20px
}
div{
    font-size: 10px;
}
p{
    /* color: rgb(255, 255, 0); */
    /* Valeur hexadécimale */
    color: #5a67d8;
    font-size: 2em;
    text-decoration: line-through;
    font-style: italic;
    /* Épaisseur de la police */
    font-weight: 100;
    /* Types de police */
    /* À l'import besoin de faire une police back-up si le site n'existe plus (serif, sans-serif, cursive)*/
    font-family: 'Dancing Script', cursive;
    /* Ne fonctionne que sur les types bloc */
    text-align: justify;
}
/* Reste à gauche vu que ça ne prends pas l'espace de la page */
a{
    text-align: right
}